.card1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_cont {
  padding: 20px;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.card_title {
  font-size: 18px;
  font-weight: 900;
}
